OPENAI_API_KEY=

LANGSMITH_TRACING=
LANGSMITH_ENDPOINT=
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=

REDIS_URL=
REDIS_DB=0

MONGODB_HOST=localhost
MONGODB_PORT=27017
MONGODB_DB=roleplay
MONGODB_USER=
MONGODB_PASSWORD=

